.container {
  width: 600px;
  height: 600px;
  overflow: scroll;
  margin: 0 auto;
  border: 1px solid gray;
  background-color: lightblue;
  color: #fff;
  padding: 20px;
}

h3,
.btnBox {
  display: flex;
  justify-content: center;

}

ul li {
  list-style-type: none;
  counter-increment: item;
  margin-bottom: 20px;
}

ul li:before {
  content: counter(item);
  font-size: 80%;
  background-color: #f9dd94;
  color: lightblue;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
}